
@{
    ViewBag.Title = "ConfirmEmail";
    Layout = "~/Views/Shared/_LayoutEnter.cshtml";
}

<h2>Подтверждение Email</h2>

<div class="form-group">
    Для завершение регистрации проверьте электронную почту.
</div>

<div>
    @Html.ActionLink("Назад", "Login", "Account")
</div>