@{
    ViewBag.Title = "Отчеты";
    ViewBag.SubTitle = "Отчеты";
    AjaxOptions opt = new AjaxOptions
    {
        UpdateTargetId = "data",
        Url = Url.Action("DataReport")
    };
}
<td class="two_column2" valign="top">
    @using (Ajax.BeginForm(opt))
    {
        <table class="text_only">

            <thead>
                <tr>
                    <td>
                        <input type="button" class="pad_cent_red" id="dates" name="dates" value="Выбор диапазона дат" />
                    </td>
                    <td>
                        <div id="panelDates" style="display: none">
                            <input type="date" name="dateFrom" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            <input type="date" name="dateTo" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            <input type="submit" value="Отобрать" />
                        </div>
                    </td>
                </tr>
            </thead>

            <tbody id="data">
                @Html.Action("DataReport", new { dateFrom = Model, dateTo = Model })
            </tbody>

        </table>
    }
</td>
@section scripts{

    <script>
        var button = document.getElementById('dates');
        var panel = document.getElementById('panelDates');

        button.onclick = function () {
            if (panel.style.display != 'none')
                panel.style.display = 'none';
            else panel.style.display = '';
        }

    </script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
