
@{
    ViewBag.Title = "ConfirmEmail";
    Layout = "~/Views/Shared/_LayoutEnter.cshtml";
}

<tr>
    <td colspan="2">
        Для завершение регистрации проверьте электронную почту.
    </td>
</tr>

<tr>
    <td colspan="2">
        @Html.ActionLink("Назад", "Login", "Account")
    </td>
</tr>
