
@using BezvizSystem.Web.Views.Helpers.Pagging
@using BezvizSystem.Web.Models.Operator

@model IndexViewModel<ViewOperatorModel>

@*IEnumerable<BezvizSystem.Web.Models.Operator.ViewOperatorModel>*@

@foreach (var item in Model.Models)
{
    <tr>
        <td>
            @Html.ActionLink(item.ProfileUserTranscript == null ? "Туроператор" : item.ProfileUserTranscript, "Edit", new { id = item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfileUserUNP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfileUserOKPO)
        </td>
    </tr>
}

<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>
