@model IEnumerable<BezvizSystem.Web.Models.Anketa.ViewAnketaModel>

@{
    ViewBag.Title = "Зарегистрированные анкеты";
    ViewBag.SubTitle = "Зарегистрированные анкеты";
}
<td class="two_column2" valign="top">
    <table class="in_table3">
        <tr class="no_border">
            <td class="no_border"></td>
            <td class="no_border"></td>
            <td class="no_border"></td>
            <td class="no_border"></td>
            <td class="no_border"></td>
            <td class="no_border"></td>
            <td class="no_border">@Html.ActionLink("Экспортировать", "InExcel")</td>
        </tr>
        @{Html.RenderPartial("GroupData", Model);}
    </table>
</td>


@section scripts
{
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script>

        var table = document.getElementsByTagName('table')[0];
        table.onclick = onRowClickHandler;

        function onRowClickHandler(event) {
            var target = event.target;

            while (target != table) {
                if (target.tagName == "TR") {
                    var id = target.getAttribute('id');

                    location.href = '@Url.Action("Edit", "Anketa")/' + id;
                    return;
                }
                target = target.parentNode;
            }
        }


        //var exp = document.getElementById('export');
        //exp.onclick = makeRequest;

        function makeRequest() {
            // Отправка асинхронного запроса на сервер.
            // url - адрес ресурса, которому направляется запрос.
            // type - HTTP метод используемый для отправки запроса.
            // data - данные передаваемые на сервер.
            // success - функция, которая запустится при успешной обработке запроса.
            $.ajax({

                url: "@Url.Action("InExcel")",
                type: "POST"

            });
        }
    </script>
}
